services:
  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    user: "1000:1000"
    restart: always
    ports:
      - "9090:80"
    volumes:
      - ./media:/srv                 # FileBrowser manages your media folder here
      - ./filebrowser_db:/database