services:
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    user: "1000:1000"
    ports:
      - "4533:4533"
    restart: always
    volumes:
      - ./data:/data
      - ../filebrowser/media/music:/music:ro # Reaching into the filebrowser/media directory:
