services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    user: "1000:1000"
    network_mode: "host"
    restart: unless-stopped
    volumes:
      - ./config:/config
      - ./cache:/cache
      - ../filebrowser/media/movies:/data/movies:ro # Reaching into the filebrowser/media directory:
      - ../filebrowser/media/tvshows:/data/tvshows:ro # Reaching into the filebrowser/media directory:
    devices:
      # This maps all GPU render nodes (Intel QuickSync, AMD, or Pi 4/5)
      - /dev/dri:/dev/dri
    group_add:
      - "render"
      - "video"